<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhilipsPatternRom.StripeGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PhilipsPatternRom.StripeGenerator.Properties.Settings>
            <setting name="LastOpenDir" serializeAs="String">
                <value />
            </setting>
            <setting name="LastGeneratorType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerticalStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerticalEnd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HorizontalStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HorizontalEnd" serializeAs="String">
                <value>0</value>
            </setting>
        </PhilipsPatternRom.StripeGenerator.Properties.Settings>
    </userSettings>
</configuration>